@model Buya.App.UI.Models.Reserva

@{
    ViewBag.Title = "Detalhes";
   // Layout = "~/Views/Shared/_AcessoPartial.cshtml";
}

<h2>Detalhes</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data_Reserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Reserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acesso.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acesso.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quarto.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quarto.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id_Reserva }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Voltar para a Lista", "Index", null, new { @class = "botao" })
</p>
