@model Buya.App.UI.Models.Reserva

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_MenuLateral.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data_Reserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Reserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acesso.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acesso.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quarto.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quarto.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Reserva }) |
    @Html.ActionLink("Back to List", "Index")
</p>
