@model Buya.App.UI.Models.Hospedagem

@{
    ViewBag.Title = "Detalhes";
    //Layout = "~/Views/Shared/_AcessoPartial.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data_CheckIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_CheckIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_CheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_CheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acesso.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acesso.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reserva.Id_Reserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reserva.Id_Reserva)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id_Hospedagem }, new { @class="btn btn-danger"}) |
    @Html.ActionLink("Voltar para a Lista", "Index", null, new { @class = "botao" })
</p>
